/* redo slide up and small pick media query onece larger slide right */

.container {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
}
.cur-p {
  cursor: pointer;
}
.fading-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #001f3f
  -webkit-animation: text-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
  animation: text-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image-container img {
  animation: image-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
  animation-fill-mode: forwards;
}
.media-header {
  display: none;
}

.text-container {
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  z-index: 1;
  margin-left: -100px;
}

/* Slides the image from left (-250px) to right (150px) */
@keyframes image-slide {
  0% {
    transform: translateX(-250px) scale(0);
  }
  60% {
    transform: translateX(-250px) scale(1);
  }
  90% {
    transform: translateX(150px) scale(1);
  }
  100% {
    transform: translateX(150px) scale(1);
  }
}

/* Slides the text by shrinking the width of the object from full (100%) to nada (0%) */
@keyframes text-slide {
  0% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes image-slide {
  0% {
    transform: translatex(-250px) scale(0);
  }
  60% {
    transform: translatex(-250px) scale(1);
  }
  90% {
    transform: translatex(150px) scale(1);
  }
  100% {
    transform: translatex(150px) scale(1);
  }
}

/* Changes animation values for viewports up to 1000px wide */
@media screen and (max-width: 1000px) {
  .media-header {
    display: block;
  }
  .text-container {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: 1;
    margin-left: -100px;
  }
  @keyframes image-slide {
    0% {
      transform: translatex(-150px) scale(0);
    }
    60% {
      transform: translatex(-150px) scale(1);
    }
    90% {
      transform: translatex() scale(1);
    }
    100% {
      transform: translatex() scale(1);
    }
  }
}
