a {
  color: rgb(85, 13, 85);
  text-decoration: none;
}

ul {
  margin: 0;
}

.body {
  border: 1px blue solid;
  margin: 24px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
}
