a {
  color: rgb(85, 13, 85);
  text-decoration: none;
}
/* header  */

.body {
  border: 1px blue solid;
  margin: 24px;
  padding: 24px;
}

.header {
  background-color: rgb(151, 49, 49);
  border-bottom: 10px black solid;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

/* content */
.portfolio-image {
  float: left;
  height: 200px;
  padding-right: 24px;
  width: 125px;
}
.section-content {
  max-width: 800;
}

.titlepage {
  font-size: 200%;
  font-family: Courier, monospace;
  border-bottom: 10px black solid;
  padding: 10px;
}

/* footer  */

.footer {
  display: flex;
  justify-content: center;
}
